.page {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  padding: 0;
  background-color: #2A2C2F;
  
  /*сглаживание*/
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  /*при изменении масштаба страницы размер шрифта изменялся пропорционально*/
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  /*рендеринг шрифта*/
  text-rendering: optimizeLegibility;
}