.cover__subtitle {
  font-weight: 400;
  text-align: center;
  color: #fff;
  margin: 0;
  max-width: 360px;
  position: relative;
  z-index: 2;
  font-size: 18px;
  line-height: 22px;
  margin: 32px 0 0 0;
}
@media screen and (max-width: 767px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}
@media screen and (max-width: 424px) {
  .cover__subtitle {
    margin-top: 16px;
  }
}