.header {
  display: flex;
  justify-content: space-between;
  margin: 28px auto 48px auto;
}
@media screen and (min-width: 1024px) {
  .header {
    margin-bottom: 56px;
    width: calc(100% - 96px);
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    width: calc(100% - 96px);
  }
}
@media screen and (min-width: 425px) and (max-width: 767px) {
  .header {
    width: calc(100% - 64px);
  }
}
@media screen and (max-width: 424px) {
  .header {
    margin-top: 16px;
    width: calc(100% - 32px);
  }
}